#include("./_layout_h5.html")
#@layout_h5()


#define content()
<div class="personal-box">
    <div class="main-box">
        <!-- 用户信息 -->
        <div class="userinfo">
            <!-- 用户头像 -->
            <div class="avatar-box">
                <img src="#(USER.avatar ?? )" alt="">

            </div>
            <!-- 用户昵称 -->
            <div class="username">
                <p class="name">#(USER.nickname ?? )</p>
                <p class="join-in">
<!--                    已加入原味大家庭-->
<!--                    <span>23</span>-->
<!--                    天-->
                </p>
            </div>
            <!-- 跳转按钮 -->
            <a class="go-to" href="#">
                <img src="img/h5/arrow.png" alt="">
            </a>
        </div>

        <!-- 收藏,点赞,浏览 -->
        <div class="collection-box">
            <div>
                <p>8</p>
                <p>收藏</p>
            </div>
            <div>
                <p>8</p>
                <p>点赞</p>
            </div>
            <div>
                <p>8</p>
                <p>浏览</p>
            </div>
        </div>
    </div>

    <!-- vip -->
    <div class="vip-box">
        <p>开通VIP会员,畅想更多阅读权益</p>
        <!-- 跳转按钮 -->
        <a class="go-to" href="#">
            <img src="img/h5/arrow.png" alt="">
        </a>
    </div>

    <div class="main-box">
        <!-- 一顿操作  -->
        <ul class="operation-box">
            <li>
                <img src="img/h5/u288.png" alt="">
                <p>商务合作</p>
                <!-- 跳转按钮 -->
                <a class="go-to" href="#">
                    <img src="img/h5/arrow.png" alt="">
                </a>
            </li>
            <li>
                <img src="img/h5/u289.png" alt="">
                <p>联系客服</p>
                <!-- 跳转按钮 -->
                <a class="go-to" href="#">
                    <img src="img/h5/arrow.png" alt="">
                </a>
            </li>
            <li>
                <a href="#(CPATH)/user/logout?csrf_token=#(CSRF_TOKEN)">
                <img src="img/h5/u288.png" alt="">
                <p>退出登录</p>
                <!-- 跳转按钮 -->
                <img src="img/h5/arrow.png" alt="">
                </a>
            </li>

        </ul>
    </div>


</div>
#end